# Each domain must be unique for routing purposes

# example: 5stack.gg
WEB_DOMAIN=

# example: ws.5stack.gg
WS_DOMAIN=

# example: api.5stack.gg
API_DOMAIN=

# example: tv.5stack.gg
RELAY_DOMAIN=

# example: demos.5stack.gg
DEMOS_DOMAIN=

# example: hasura.5stack.gg
HASURA_DOMAIN=

# example: hello@example.com
MAIL_FROM=

TAILSCALE_NODE_IP=

TAILSCALE_NET_NAME=

TAILSCALE_CLIENT_ID=
